<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 수정</title>
</head>
<body>
    
    <form th:action="@{/board/update.do}" method="post">

        번호   <input type="text" name="no" th:value="${obj.no}" readonly/> <br />
        제목   <input type="text" name="title" th:value="${obj.title}"/> <br />
        내용   <input type="text" name="content" th:value="${obj.content}"/> <br />
        작성자 <input type="text" name="writer" th:value="${obj.writer}" /> <br />
        조회수 <input type="text" th:value="${obj.hit}" readonly/> <br />
        날짜   <input type="text" th:value="${obj.regdate}" readonly/> <br />

        <input type="submit" value="수정">
    </form>

</body>
</html>