<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
</head>
<body>
    <h3>게시판목록(board1view)</h3> 
    <hr />

    <form th:action="@{/board1view/selectlist.pknu}" method="get">
        <input type="hidden" name="num" value="0" />
        <input type="submit" value="전체 조회" />
    </form>
    <hr />

    <form th:action="@{/board1view/selectlist.pknu}" method="get">
        <input type="hidden" name="num" value="1" />
        <input type="number" name="no" placeholder="글번호 입력" />
        <input type="text" name="title" placeholder="제목 입력" />
        <input type="submit" value="글번호와 제목이 정확하게 일치하는 것만 조회" />
    </form>
    <hr />

    <form th:action="@{/board1view/selectlist.pknu}" method="get">
        <input type="hidden" name="num" value="2" />
        <input type="number" name="no" placeholder="글번호 입력" />
        <input type="text" name="title" placeholder="제목 입력" />
        <input type="submit" value="글번호와 제목 둘 중 하나 이상 일치하는 것만 조회" />
    </form>
    <hr />

    <form th:action="@{/board1view/selectlist.pknu}" method="get">
        <input type="hidden" name="num" value="3" />
        <input type="text" name="nos" placeholder="글번호를 ,로 구분해서 입력" />
        <input type="submit" value="글번호에 해당하는 항목만 조회" />
    </form>
    <hr />

    <form th:action="@{/board1view/selectlist.pknu}" method="get">
        <input type="hidden" name="num" value="4" />
        <input type="text" name="titles" placeholder="제목을 ,로 구분해서 입력" />
        <input type="submit" value="제목이 해당하는 항목만 조회" />
    </form>
    <hr /> 

    <table border="1">
        <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="obj : ${list}">
                <td th:text="${obj.no}"></td>
                <td th:text="${obj.title}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>