<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>게시판 목록</title>
</head>
<body>
    <h3>게시글 목록(board1)</h3>
    <a th:href="@{/board1/insert.do}">글쓰기</a>

    <table border="1">
        <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>작성일</th>
                <th>버튼</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="obj : ${list}">
                <td th:text="${obj.no}"></td>
                <td><a th:href="@{/board1/selectone.do(no=${obj.no})}" th:text="${obj.title}"></a></td>
                <td th:text="${obj.writer}"></td>
                <td th:text="${obj.hit}"></td>
                <td th:text="${obj.regdate}"></td>
                <td><a th:href="@{/boardimage1/selectlist.do(no=${obj.no})}"><button>이미지</button></a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>